@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    background-color: white;
    color: #e1a730;
     margin-left: auto;
    margin-right: auto;
    font-family: 'League Spartan', sans-serif;
} 
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
input[type=text], input[type=password] , input[type = email]{
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid #e1a730;
  } 
  button {
    background-color:#e1a730;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  
  }
  button:hover {
    opacity: 0.8;
  }
  .imgcontainer {
    margin: 24px 0 12px 0;
  }
  img.avatar {
    border-radius: 50%;
    width: 200px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    padding: 16px;
    background-color: white;
  }
  div.psw {
    float: right;
   background-color:white;
  }
  @media screen and (max-width: 300px) {
    div.psw {
      display: block;
      float: none;
    }
  }